[Unit]
Description=Unit for starting a Web4D-QSAR instance.
Requires=nginx.service mysql.service rabbitmq.service
Before=nginx.service
After=mysql.service rabbitmq.service

[Service]
PIDFile=/opt/web4d-qsar/service.pid
WorkingDirectory=/opt/web4d-qsar/src
ExecStart=python manage.py runserver 0.0.0.0:8000
Type=forking
KillMode=process
Restart=restart-always

[Install]
WantedBy=multi-user.target

